
.ngx-dnd-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  border: 1px solid lightblue;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  display: block;

  .ngx-dnd-content {
    user-select: none;
  }

  &:hover {
    border: 1px solid blue;
  }
}
