
.ngx-dnd-container {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid red;
  margin: 10px;
  padding: 0;

  &.dndEmpty {
    border: 2px dotted red;
    padding: 10px;
  }

  .ngx-dnd-item {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
    border: 1px solid lightblue;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    .ngx-dnd-content {
      user-select: none;
    }

    &:hover {
      border: 1px solid blue;
    }
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .ex-moved {
    background-color: #e74c3c;
  }

  .ex-over {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

