<div [ngSwitch]="type">

  <div *ngSwitchCase="'array'">
    <div
        class='ngx-dnd-container {{classes.container}}'
        [class.dndEmpty]="!model.length"
        [dragula]="bag"
        [dragulaModel]="model"
        [dragulaOptions]="options">
        <div
          *ngFor="let item of model"
          class="ngx-dnd-item {{classes.item(item)}}"
          delay-drag-lift>
          <ngx-dnd-container
            [bag]="bag"
            [model]="item"
            [classes]="classes"
            [template]="template"
            (drop)="drop($event)">
          </ngx-dnd-container>
        </div>
    </div>
  </div>

  <div *ngSwitchCase="'object'">
    <template
      *ngIf="template"
      [ngTemplateOutlet]="template"
      [ngOutletContext]="data">
    </template>
    <div *ngIf="!template">
      <div
        class="ngx-dnd-content {{classes.content}}"
        [class]="classes.content">
        {{model.label}}
      </div>
      <ngx-dnd-container
        [bag]="bag"
        [model]="model.children"
        [classes]="classes"
        [template]="template"
        (drop)="drop($event)">
      </ngx-dnd-container>
    </div>
  </div>

  <div *ngSwitchCase="'undefined'">
  </div>

  <div *ngSwitchDefault>
    <template
      *ngIf="template"
      [ngTemplateOutlet]="template"
      [ngOutletContext]="data">
    </template>
    <div
      *ngIf="!template"
      class="">
      <div
        class="ngx-dnd-content {{classes.content}}"
        [class]="classes.content">
        {{model}}
      </div>
    </div>
  </div>

</div>