<main fxLayout="row" fxLayoutWrap="nowrap" fxFill>
  <!-- div class="nav-col" fxFlex="20%">
    <h1>
      Ngx-<strong>dnd</strong>
      <small class="version">{{version}}</small>
      <small class="subtitle">Angular2+ DnD</small>
    </h1>
  </div -->
  <div class="field" fxFlex="100%">
    <div>
      <ngx-section class="shadow" sectionTitle="Ordering - Template Only">

        <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
          <div fxFlex="50%">
            <div class='wrapper'>
              <div class='ngx-dnd-container' dragula="example-1">
                <div class="ngx-dnd-item">Item 1</div>
                <div class="ngx-dnd-item">Item 2</div>
                <div class="ngx-dnd-item">Item 3</div>
              </div>
            </div>
          </div>
          <div fxFlex="50%">
            <pre></pre>
          </div>
        </div>
      </ngx-section>

      <ngx-section class="shadow" sectionTitle="Ordering - from array">
        <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
          <div fxFlex="50%">
            <div class='wrapper'>
              <ngx-dnd-container [model]="orderableList" bag="example-2"></ngx-dnd-container>
            </div>
          </div>
          <div fxFlex="50%">
            <pre>{{orderableList | json}}</pre>
          </div>
        </div>
      </ngx-section>

      <ngx-section class="shadow" sectionTitle="DnD - Template Only">
        <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
          <div fxFlex="50%">
            <div class='wrapper'>
              <div class='ngx-dnd-container' dragula="example-3">
                <div class="ngx-dnd-item">Item 1a</div>
                <div class="ngx-dnd-item">Item 2a</div>
                <div class="ngx-dnd-item">Item 3a</div>
              </div>
              <div class='ngx-dnd-container' dragula="example-3">
                <div class="ngx-dnd-item">Item 1b</div>
                <div class="ngx-dnd-item">Item 2b</div>
                <div class="ngx-dnd-item">Item 3b</div>
              </div>
            </div>
          </div>
          <div fxFlex="50%">
            <pre></pre>
          </div>
        </div>
      </ngx-section>

      <ngx-section class="shadow" sectionTitle="DnD - from array">
        <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
          <div fxFlex="50%">
            <div class='wrapper'>
              <div *ngFor="let group of orderableLists">
                <ngx-dnd-container [model]="group" bag="example-4"></ngx-dnd-container>
              </div>
            </div>
          </div>
          <div fxFlex="50%">
            <pre>{{orderableLists | json}}</pre>
          </div>
        </div>
      </ngx-section>

      <ngx-section class="shadow" sectionTitle="DnD - nested">
        <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
          <div fxFlex="50%">
            <div class='wrapper'>
              <ngx-dnd-container [model]="nestedLists" bag="example-5"></ngx-dnd-container>
            </div>
          </div>
          <div fxFlex="50%">
            <code><pre>{{nestedLists | json}}</pre></code>
          </div>
        </div>
      </ngx-section>

    </div>
  </div>
</main>
