/* You can add global styles to this file, and also import other style files */

section.cover {
  background: linear-gradient(to left bottom, hsl(28, 100%, 85%) 0%, hsl(149, 100%, 85%) 100%);
}

section.content footer {
  margin: 30px 0;
  text-align: center;
}

section.cover hr,
footer hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 2em 20%;
}

.sidebar .sidebar-nav ul li {
  white-space: nowrap;
}
